# dotenv environment variables file
.env
prod.env

# Persistent data
data/

# Secrets folder for testing purposes
secrets/

# Log files
log/

# Local filesystem files
.DS_Store

# Temporary helper script
ddm.sh